<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products 컴포넌트</title>
    <link rel="preload" as="font" href="/public/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="./styles/product-card.css" />
    
  </head>
  <body>
    <h1>products 컴포넌트</h1>
    <hr />
    <div class="product-card">
      <div class="product-image">
          <picture>
          <source srcset="../../assets/images/product-1.webp" alt="탱탱쫄면" />
          <img class="product img" src="../../assets/images/product-1.jpg" alt="탱탱쫄면" />
          </picture>
          <button class="product cart" type="button" aria-label="장바구니">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5" d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z" fill="#2A0038"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4902 17.2898L29.3202 26.5198H16.9002L14.7402 17.2898H31.4902Z" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
            <path d="M27.3797 32.9398C28.3186 32.9398 29.0797 32.1787 29.0797 31.2398C29.0797 30.3009 28.3186 29.5398 27.3797 29.5398C26.4408 29.5398 25.6797 30.3009 25.6797 31.2398C25.6797 32.1787 26.4408 32.9398 27.3797 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
            <path d="M18.8484 32.9398C19.7873 32.9398 20.5484 32.1787 20.5484 31.2398C20.5484 30.3009 19.7873 29.5398 18.8484 29.5398C17.9096 29.5398 17.1484 30.3009 17.1484 31.2398C17.1484 32.1787 17.9096 32.9398 18.8484 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
            <path d="M11.0293 14.3799H14.0493L15.4593 20.3599" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"/>
            </svg>
          </button>
      </div>
      <div class="product-main">
        <p class="product delivery">샛별배송</p>
        <a href="/" class="product title">[풀무원] 탱탱쫄면 (4개입)</a>
      </div>
      <div class="product-price">
        <em class="product pecent"><span class="sr-only">할인율</span>10%</em>
        <span class="product price">4,980 원</span>
        <p class="product ordinal">24,900원</p>
      </div>
      
      <p class="product comment">튀기지 않아 부담없는 매콤함</p>

      <div class="product-badge">
        <span class="badge karly">karly only</span>
        <span class="badge amount">한정수량</span>
      </div>
    </div>
  </body>
</html>