.login-label {
    width: 139px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.login-label-text {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    display: flex;
    gap: 4px;
    padding: 4px;
}

.login-label-required {
    color: #F03F40;
    font-size: 16px;
    font-weight: 600;
}

.login-label-optional {
    color: #898989;
    font-size: 14px;
    font-weight: 400;
} 