<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>list-네비 컴포넌트</title>
  <link rel="preload" as="font" href="/public/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
  <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
  <!-- <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="../styles/list-nav.css" /> -->
  <link rel="stylesheet" href="/src/style.css">
</head>
<body>


        
          <div class="list-nav">
            <div class="entire"><p>총 168건</p></div>
      
        
            <div class="control">
               <!-- 모바일: 추천순 버튼 -->
               <button class="recommend-toggle-btn">
                 추천순
                 <img src="../../../assets/svg/arrow-under.svg" alt="하단열기" />
               </button>
             
               <!-- 데스크탑 : 추천순 메뉴 -->
               <ul class="recommend-menu">
                 <li class="menu main">추천순
                  <span class="question-icon">
                    <img src="../../../assets/svg/question.svg" alt="자세히보기" />
                  </span>
                </li>
                 <li class="menu"><a href="#">신상품순</a></li>
                 <li class="menu"><a href="#">판매량순</a></li>
                 <li class="menu"><a href="#">혜택순</a></li>
                 <li class="menu"><a href="#">낮은 가격순</a></li>
                 <li class="menu"><a href="#">높은 가격순</a></li>
               </ul>
                
               <!-- 필터 모바일: 열기 버튼 -->
               <button class="filter-toggle-btn">
                 필터
                 <span class="filter-icon"><img src="../../../assets/svg/filter.webp" alt="필터 아이콘" /></span>
               </button>
            </div>
           
        

          
</body>
</html>
