<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <!-- <link rel="stylesheet" href="../../style.css" /> -->
    <link rel="stylesheet" href="/src/style.css" />
    <title>푸터 카피라이트 컴포넌트</title>
  </head>
  <body class="body footer">
    <div class="footer-copyright">
      <p><span>마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다. </span>마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.</p>
      <p>© KURLY CORP. ALL RIGHTS RESERVED</p>
    </div>
  </body>
</html>
