:root {
  /* 폰트 사이즈 */
  --s-textSize: 0.75rem;
  --m-textSize: 1rem;
  --l-textSize: 1.375rem;
  --xl-textSize: 1.75rem;
  --xxl-textSize: 2.375rem;

  /* 행간 */
  --s-textLineHeight: 1.2;
  --m-textLineHeight: 1.5;
  --l-textLineHeight: 1.6;

  /* 색상 */
  --black: #000;
  --white: #fff;
  --content: #333;
  --secondary-100: #d7acff;
  --secondary-200: #bd76ff;
  --secondary-300: #a544ff;
  --primary-100: #710097;
  --primary-200: #5f0080;
  --primary-300: #400055;
  --errOR: #f03f40 /* 간격 */ --xs-gap: 0.25rem;
  --s-gap: 0.5rem;
  --m-gap: 0.75rem;
  --l-gap: 1rem;
  --xl-gap: 1.25rem;
  --xxl-gap: 1.5rem;
}

.product-page {
  width: 65.625rem;
  margin: 0rem auto;
}

.product {
  display: flex;
  padding-top: 2.5rem;
  justify-content: space-between;
}

.product-image-01 {
  width: 25rem;
  height: 32.125rem;
  flex-shrink: 0;
}

.product-order {
  width: 560px;
}

.product-info {
  padding-bottom: 20px;
}

.product-info p {
  padding-bottom: 16px;
}

.delivery {
  color: #6b6b6b;
  font-size: var(--l-gap);
  font-weight: 700;
  line-height: 140%;
  margin: 0;
}

.product-title {
  color: var(--black);
  font-size: var(--xl-textSize);
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.description {
  color: #898989;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}

.price {
  color: var(--black);
  font-size: var(--xl-textSize);
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.unit {
  color: var(--black);
  font-size: var(--m-textSize);
  font-weight: 700;
  line-height: 140%;
  margin: 0;
}

.benefit {
  color: var(--primary-200);
  font-size: var(--m-textSize);
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.grid-table {
  display: grid;
  grid-template-columns: 8rem 1fr;
  border-top: 0.0625rem solid #e1e1e1;
  border-bottom: 0.0625rem solid #e1e1e1;
  color: #6b6b6b;
}

.grid-table dt,
.grid-table dd {
  border-top: 1px solid #e1e1e1;
  margin: 0;
}

.grid-table dt {
  padding: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grid-table dd {
  font-size: 12.003px;
  font-weight: 600;
  line-height: 150%;
  padding: 16px 0;
}

.product-option {
  border: 0.0625rem solid #e1e1e1;
  align-items: flex-start;
  position: relative;
}

.product-name {
  font-size: var(--s-textSize);
  font-weight: 600;
  line-height: 150%;
  padding: 0.75rem 1rem;
}

.quantity-box {
  font-size: 12.003px;
  font-weight: 600;
  line-height: 150%;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: var(--s-gap);
}

.quantity-box button {
  background-color: transparent;
  border: none;
  font-size: 1.125rem;
  width: 1.875rem;
  height: 1.875rem;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-price {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  font-size: 12.003px;
  font-weight: 600;
  line-height: 150%;
}
.total-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.75rem;
  gap: var(--l-gap);
  font-size: var(--m-textSize);
  font-weight: 600;
  line-height: 150%;
}

.accumulation {
  border-radius: 12px;
  background: #fa622f;
  color: var(--white);
  font-size: var(--s-textSize);
  font-weight: 400;
  line-height: 160%;
  padding: 8px;
}

.product-actions {
  display: flex;
  padding: 0.25rem;
  gap: var(--m-gap);
  align-items: center;
}

.product-actions button {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
}

.add-to-cart {
  border-radius: 0.25rem;
  width: 25.75rem;
  text-align: center;
  font-size: var(--m-textSize);
  font-weight: 600;
  line-height: 54px;
  border-radius: 4px;
  background: var(--primary-200);
  color: var(--white);
  height: 54px;
  text-decoration: none;
}

.unit-1 {
  font-size: var(--xl-textSize);
  font-weight: 600;
  line-height: 150%;
  margin-left: 17px;
}

.tab-menu {
  display: flex;
  height: 3.375rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}

.tab-menu a {
  flex: 1;
  text-align: center;
  height: 54px;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  color: #333;
  background: #f9f9f9;
  border-right: 1px solid #a6a6a6;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
  font-weight: 500;
}

.product-intro {
  width: 1050px;
  height: 1002px;
  flex-shrink: 0;
  padding-top: 40px;
}

.check-point {
  margin-top: 96px;
  margin-bottom: 68px;
  font-size: 50.517px;
  font-weight: 700;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.check-point::before,
.check-point::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #e0e0e0;
}

.why-karly {
  text-align: center;
  font-size: 28.43px;
  font-weight: 700;
  line-height: 140%;
  padding: 72px 0px 84px 0px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 84px;
}

.container-unit {
  flex: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  box-sizing: border-box;
}

.container p {
  width: 250px;
  text-align: center;
  padding: 0 12x 0 12px;
}

.review-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 56px;
  padding-top: 52px;
}

.review-head {
  font-size: 28.43px;
  font-weight: 700;
  line-height: 140%;
}

.more {
  background-color: #6a1b9a;
  width: 155px;
  height: 44px;
  text-align: center;
  color: white;
  padding: 0.625rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  text-decoration: none;
  font-size: var(--m-textSize);
  font-weight: 600;
  line-height: 150%;
}
.review-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.review-list {
  font-size: var(--m-textSize);
  color: #333;
  margin-bottom: 12px;
}

.review-items {
  display: flex;
  align-items: flex-start;
  padding: 20px 0px 20px 20px;
  gap: 82px;
  border-bottom: 1px solid #e1e1e1;
}

.rreview-content {
  background: yellowgreen;
  gap: 20px;
}

.notify p {
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 500;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.notify-1 {
  background-color: #d1d1d1;
  padding: 2px 6px;
  margin-right: 6px;
  border-radius: 2px;
  font-size: 12.003px;
  font-weight: 600;
  line-height: 150%;
}

.best {
  background-color: #d896ff;
  color: white;
  padding: 2px 6px;
  font-size: var(--m-textSize);
  border-radius: 2px;
}

.purple {
  background: var(--white);
  color: var(--primary-200);
  padding: 2px 6px;
  font-size: var(--m-textSize);
  border: 1px solid var(--primary-200);
  border-radius: 2px;
}

.name {
  font-weight: bold;
}

.review-title {
  font-weight: 600;
  margin-bottom: 6px;
  color: #555;
}

.review-time {
  margin-top: 8px;
  font-size: 12px;
  color: #999;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.question-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 56px;
}

.question-head {
  font-size: 28.43px;
  font-weight: 700;
  line-height: 140%;
}

.question-table {
  border-bottom: 1px solid var(#e1e1e1);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #333; 
  margin-bottom: 20px; 
}

thead.question-head tr.tab-menu-1 {
  background-color: #f8f8f8; 
  border-bottom: 1px solid #ddd; 
}

thead.question-head tr.tab-menu-1 th {
  padding: 12px 15px; 
  font-weight: bold;
  color: #333;
  text-align: left; 
}

thead.question-head tr.tab-menu-1 div {
  display: flex; /
  justify-content: flex-end; 
}

thead.question-head tr.tab-menu-1 div th {
  padding: 12px 15px;
  font-weight: bold;
  color: #333;
  text-align: center; 
}

tbody tr.question-body {
  border-bottom: 1px solid #eee; 
}

tbody tr.question-body td {
  padding: 10px 15px; 
  color: #555;
}

tbody tr.question-body td:first-child {
  padding-left: 15px; 
}

tbody tr.question-body td:last-child {
  text-align: center; 
  padding-right: 15px;}

.notify {
  display: inline-block;
  background-color: #f0f0f0; 
  color: #777; 
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
  margin-right: 5px;
}

.locked {
  display: inline-flex;
  align-items: center;
  color: #777;
}

.locked button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
}
