<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>products-list 컴포넌트</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <!-- <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./styles/product-list-test.css" /> -->
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <h1>products-list 조립(테스트)</h1>
    <hr />

    <div class="list-wrapper">
      <!-- 헤더 컴포넌트 -->
      <div class="list-head">
        <div class="list-header">
          <button class="icon-button back" type="button"><img src="../assets/svg/back.svg" alt="뒤로가기" /></button>
          <p class="title">타이틀</p>
          <button class="icon-button home" type="button"><img src="../assets/svg/home.svg" alt="홈 이동" /></button>
          <button class="icon-button cart" type="button"><img src="../assets/svg/cart_dark.svg" alt="장바구니 이동" /></button>
        </div>
      </div>

      <div class="main-grid">
        <!-- 사이드바 (pc) -->
        <aside class="filter-panel" id="filterPanel" aria-label="필터 메뉴">
          <form class="filter-form">
            <div class="category-filter">
              <p class="category-filter title">필터</p>
              <button class="reset-btn" type="button">초기화</button>
            </div>

            <details class="category food">
              <summary class="category-toggle">카테고리</summary>
              <ul class="category-option bg-icon">
                <li><input type="checkbox" id="category-1" name="vegetable" /><label class="icon" for="category-1">채소</label></li>
                <li><input type="checkbox" id="category-2" name="fruit" /><label class="icon" for="category-2">과일·견과·쌀</label></li>
                <li><input type="checkbox" id="category-3" name="dairy-products" /><label class="icon" for="category-3">유제품</label></li>
              </ul>
            </details>

            <details class="category delivery">
              <summary class="category-toggle">배송</summary>
              <ul class="category-option bg-icon">
                <li><input type="checkbox" id="delivery-1" name="saesbyeol" /><label class="icon" for="delivery-1">샛별배송</label></li>
                <li><input type="checkbox" id="delivery-2" name="seller" /><label class="icon" for="delivery-2">판매자배송</label></li>
                <li><input type="checkbox" id="delivery-3" name="installation" /><label class="icon" for="delivery-3">설치배송</label></li>
              </ul>
            </details>

            <details class="category packaging">
              <summary class="category-toggle">포장타입</summary>
              <ul class="category-option bg-icon">
                <li><input type="checkbox" id="temperature-1" name="room" /><label class="icon" for="temperature-1">상온</label></li>
                <li><input type="checkbox" id="temperature-2" name="cold-storage" /><label class="icon" for="temperature-2">냉장</label></li>
                <li><input type="checkbox" id="temperature-3" name="freezing" /><label class="icon" for="temperature-3">냉동</label></li>
              </ul>
            </details>

            <details class="category price">
              <summary class="category-toggle">가격</summary>
              <ul class="category-option bg-icon">
                <li><input type="checkbox" id="price-1" name="low" /><label class="icon" for="price-1">6,600원 미만</label></li>
                <li><input type="checkbox" id="price-2" name="mid" /><label class="icon" for="price-2">6,600 ~ 9,990원</label></li>
                <li><input type="checkbox" id="price-3" name="high" /><label class="icon" for="price-3">9,990원 ~ 14.500원</label></li>
              </ul>
            </details>
          </form>
        </aside>

        <!-- 네비 컴포넌트  -->
        <div class="list-navi">
          <div class="list-nav">
            <div class="entire"><p>총 건</p></div>

            <!-- 모바일: 추천순 버튼 -->
            <div class="control">
              <button class="recommend-toggle-btn">
                추천순
                <img src="../assets/svg/arrow-under.svg" alt="하단열기 아이콘" />
              </button>

              <!-- 데스크탑 : 추천순 메뉴 -->
              <ul class="recommend-menu">
                <li class="menu main">
                  추천순<span class="question-icon"><img src="../assets/svg/question.svg" alt="" /></span>
                </li>
                <li class="menu">신상품순</li>
                <li class="menu">판매량순</li>
                <li class="menu">혜택순</li>
                <li class="menu">낮은 가격순</li>
                <li class="menu">높은 가격순</li>
              </ul>

              <!-- 필터 모바일: 열기 버튼 -->
              <button class="filter-toggle-btn" aria-haspopup="dialog" aria-expanded="false" aria-controls="filterPanel">
                필터
                <span class="filter-icon"><img src="../assets/svg/filter.webp" alt="필터 아이콘" /></span>
              </button>
            </div>
          </div>

          <div class="button-navi">
            <div class="list-navbtn">
              <button class="outline-button">새로나온</button>
              <button class="outline-button">Kurly only</button>
              <button class="outline-button">벌스워크</button>
            </div>

            <div class="combo-form">
              <label for="category-m" class="sr-only">카테고리</label>
              <select class="combo-box" name="product-category" id="category-m">
                <option value="main">카테고리</option>
                <option value="product1">상품분류1</option>
                <option value="product2">상품분류2</option>
              </select>
            </div>
          </div>

          <!-- 그리드 설정- 2 -->
          <div class="sub-grid">
            <!-- 상품 목록 -->
            <div class="product-card">
              <div class="product-image">
                <picture>
                  <source srcset="../assets/images/product-1.jpg" />
                  <img class="product img" src="../assets/images/product-1.jpg" alt="탱탱쫄면" />
                </picture>
                <button class="product cart" type="button" aria-label="장바구니">
                  <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z" fill="#2A0038" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4902 17.2898L29.3202 26.5198H16.9002L14.7402 17.2898H31.4902Z" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M27.3797 32.9398C28.3186 32.9398 29.0797 32.1787 29.0797 31.2398C29.0797 30.3009 28.3186 29.5398 27.3797 29.5398C26.4408 29.5398 25.6797 30.3009 25.6797 31.2398C25.6797 32.1787 26.4408 32.9398 27.3797 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M18.8484 32.9398C19.7873 32.9398 20.5484 32.1787 20.5484 31.2398C20.5484 30.3009 19.7873 29.5398 18.8484 29.5398C17.9096 29.5398 17.1484 30.3009 17.1484 31.2398C17.1484 32.1787 17.9096 32.9398 18.8484 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M11.0293 14.3799H14.0493L15.4593 20.3599" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="product-main">
                <p class="product delivery">샛별배송</p>
                <a href="/" class="product title">[풀무원] 탱탱쫄면 (4개입)</a>
              </div>
              <div class="product-price">
                <em class="product pecent"><span class="sr-only">할인율</span>10%</em>
                <span class="product price">4,980 원</span>
                <p class="product ordinal">24,900원</p>
              </div>

              <p class="product comment">튀기지 않아 부담없는 매콤함</p>

              <div class="product-badge">
                <span class="badge karly">karly only</span>
                <span class="badge amount">한정수량</span>
              </div>
            </div>
            <!-- 상품 목록 -->
            <div class="product-card">
              <div class="product-image">
                <picture>
                  <source srcset="../assets/images/product-1.jpg" />
                  <img class="product img" src="../assets/images/product-1.jpg" alt="탱탱쫄면" />
                </picture>
                <button class="product cart" type="button" aria-label="장바구니">
                  <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z" fill="#2A0038" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4902 17.2898L29.3202 26.5198H16.9002L14.7402 17.2898H31.4902Z" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M27.3797 32.9398C28.3186 32.9398 29.0797 32.1787 29.0797 31.2398C29.0797 30.3009 28.3186 29.5398 27.3797 29.5398C26.4408 29.5398 25.6797 30.3009 25.6797 31.2398C25.6797 32.1787 26.4408 32.9398 27.3797 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M18.8484 32.9398C19.7873 32.9398 20.5484 32.1787 20.5484 31.2398C20.5484 30.3009 19.7873 29.5398 18.8484 29.5398C17.9096 29.5398 17.1484 30.3009 17.1484 31.2398C17.1484 32.1787 17.9096 32.9398 18.8484 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M11.0293 14.3799H14.0493L15.4593 20.3599" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="product-main">
                <p class="product delivery">샛별배송</p>
                <a href="/" class="product title">[풀무원] 탱탱쫄면 (4개입)</a>
              </div>
              <div class="product-price">
                <em class="product pecent"><span class="sr-only">할인율</span>10%</em>
                <span class="product price">4,980 원</span>
                <p class="product ordinal">24,900원</p>
              </div>

              <p class="product comment">튀기지 않아 부담없는 매콤함</p>

              <div class="product-badge">
                <span class="badge karly">karly only</span>
                <span class="badge amount">한정수량</span>
              </div>
            </div>
            <!-- 상품 목록 -->
            <div class="product-card">
              <div class="product-image">
                <picture>
                  <source srcset="../assets/images/product-1.jpg" />
                  <img class="product img" src="../assets/images/product-1.jpg" alt="탱탱쫄면" />
                </picture>
                <button class="product cart" type="button" aria-label="장바구니">
                  <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z" fill="#2A0038" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4902 17.2898L29.3202 26.5198H16.9002L14.7402 17.2898H31.4902Z" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M27.3797 32.9398C28.3186 32.9398 29.0797 32.1787 29.0797 31.2398C29.0797 30.3009 28.3186 29.5398 27.3797 29.5398C26.4408 29.5398 25.6797 30.3009 25.6797 31.2398C25.6797 32.1787 26.4408 32.9398 27.3797 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M18.8484 32.9398C19.7873 32.9398 20.5484 32.1787 20.5484 31.2398C20.5484 30.3009 19.7873 29.5398 18.8484 29.5398C17.9096 29.5398 17.1484 30.3009 17.1484 31.2398C17.1484 32.1787 17.9096 32.9398 18.8484 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M11.0293 14.3799H14.0493L15.4593 20.3599" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="product-main">
                <p class="product delivery">샛별배송</p>
                <a href="/" class="product title">[풀무원] 탱탱쫄면 (4개입)</a>
              </div>
              <div class="product-price">
                <em class="product pecent"><span class="sr-only">할인율</span>10%</em>
                <span class="product price">4,980 원</span>
                <p class="product ordinal">24,900원</p>
              </div>

              <p class="product comment">튀기지 않아 부담없는 매콤함</p>

              <div class="product-badge">
                <span class="badge karly">karly only</span>
                <span class="badge amount">한정수량</span>
              </div>
            </div>
            <!-- 상품 목록 -->
            <div class="product-card">
              <div class="product-image">
                <picture>
                  <source srcset="../assets/images/product-1.jpg" />
                  <img class="product img" src="../assets/images/product-1.jpg" alt="탱탱쫄면" />
                </picture>
                <button class="product cart" type="button" aria-label="장바구니">
                  <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z" fill="#2A0038" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4902 17.2898L29.3202 26.5198H16.9002L14.7402 17.2898H31.4902Z" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M27.3797 32.9398C28.3186 32.9398 29.0797 32.1787 29.0797 31.2398C29.0797 30.3009 28.3186 29.5398 27.3797 29.5398C26.4408 29.5398 25.6797 30.3009 25.6797 31.2398C25.6797 32.1787 26.4408 32.9398 27.3797 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M18.8484 32.9398C19.7873 32.9398 20.5484 32.1787 20.5484 31.2398C20.5484 30.3009 19.7873 29.5398 18.8484 29.5398C17.9096 29.5398 17.1484 30.3009 17.1484 31.2398C17.1484 32.1787 17.9096 32.9398 18.8484 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M11.0293 14.3799H14.0493L15.4593 20.3599" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="product-main">
                <p class="product delivery">샛별배송</p>
                <a href="/" class="product title">[풀무원] 탱탱쫄면 (4개입)</a>
              </div>
              <div class="product-price">
                <em class="product pecent"><span class="sr-only">할인율</span>10%</em>
                <span class="product price">4,980 원</span>
                <p class="product ordinal">24,900원</p>
              </div>

              <p class="product comment">튀기지 않아 부담없는 매콤함</p>

              <div class="product-badge">
                <span class="badge karly">karly only</span>
                <span class="badge amount">한정수량</span>
              </div>
            </div>
            <!-- 상품 목록 -->
            <div class="product-card">
              <div class="product-image">
                <picture>
                  <source srcset="../assets/images/product-1.jpg" />
                  <img class="product img" src="../assets/images/product-1.jpg" alt="탱탱쫄면" />
                </picture>
                <button class="product cart" type="button" aria-label="장바구니">
                  <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z" fill="#2A0038" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4902 17.2898L29.3202 26.5198H16.9002L14.7402 17.2898H31.4902Z" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M27.3797 32.9398C28.3186 32.9398 29.0797 32.1787 29.0797 31.2398C29.0797 30.3009 28.3186 29.5398 27.3797 29.5398C26.4408 29.5398 25.6797 30.3009 25.6797 31.2398C25.6797 32.1787 26.4408 32.9398 27.3797 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M18.8484 32.9398C19.7873 32.9398 20.5484 32.1787 20.5484 31.2398C20.5484 30.3009 19.7873 29.5398 18.8484 29.5398C17.9096 29.5398 17.1484 30.3009 17.1484 31.2398C17.1484 32.1787 17.9096 32.9398 18.8484 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M11.0293 14.3799H14.0493L15.4593 20.3599" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="product-main">
                <p class="product delivery">샛별배송</p>
                <a href="/" class="product title">[풀무원] 탱탱쫄면 (4개입)</a>
              </div>
              <div class="product-price">
                <em class="product pecent"><span class="sr-only">할인율</span>10%</em>
                <span class="product price">4,980 원</span>
                <p class="product ordinal">24,900원</p>
              </div>

              <p class="product comment">튀기지 않아 부담없는 매콤함</p>

              <div class="product-badge">
                <span class="badge karly">karly only</span>
                <span class="badge amount">한정수량</span>
              </div>
            </div>
            <!-- 상품 목록 -->
            <div class="product-card">
              <div class="product-image">
                <picture>
                  <source srcset="../assets/images/product-1.jpg" />
                  <img class="product img" src="../assets/images/product-1.jpg" alt="탱탱쫄면" />
                </picture>
                <button class="product cart" type="button" aria-label="장바구니">
                  <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z" fill="#2A0038" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M31.4902 17.2898L29.3202 26.5198H16.9002L14.7402 17.2898H31.4902Z" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M27.3797 32.9398C28.3186 32.9398 29.0797 32.1787 29.0797 31.2398C29.0797 30.3009 28.3186 29.5398 27.3797 29.5398C26.4408 29.5398 25.6797 30.3009 25.6797 31.2398C25.6797 32.1787 26.4408 32.9398 27.3797 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M18.8484 32.9398C19.7873 32.9398 20.5484 32.1787 20.5484 31.2398C20.5484 30.3009 19.7873 29.5398 18.8484 29.5398C17.9096 29.5398 17.1484 30.3009 17.1484 31.2398C17.1484 32.1787 17.9096 32.9398 18.8484 32.9398Z" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M11.0293 14.3799H14.0493L15.4593 20.3599" stroke="white" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="product-main">
                <p class="product delivery">샛별배송</p>
                <a href="/" class="product title">[풀무원] 탱탱쫄면 (4개입)</a>
              </div>
              <div class="product-price">
                <em class="product pecent"><span class="sr-only">할인율</span>10%</em>
                <span class="product price">4,980 원</span>
                <p class="product ordinal">24,900원</p>
              </div>

              <p class="product comment">튀기지 않아 부담없는 매콤함</p>

              <div class="product-badge">
                <span class="badge karly">karly only</span>
                <span class="badge amount">한정수량</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
