<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <!-- <link rel="stylesheet" href="../../style.css" /> -->
    <link rel="stylesheet" href="/src/style.css" />
    <title>LNB 버튼 컴포넌트</title>
  </head>
  <body class="body header">
    <button type="button" class="lnb-btn" aria-label="카테고리 열기">
      <svg width="16" height="14" viewBox="0 0 16 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H16V1.7H0V0ZM0 6.15H16V7.85H0V6.15ZM0 12.3H16V14H0V12.3Z" fill="currnetColor" />
      </svg>
      <span class="lnb-btn-text">카테고리</span>
    </button>
  </body>
</html>
