<!-- 주문금액 컴포넌트 -->
<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/public/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/components/styles/cart-components.css" />
    <title>주문금액 컴포넌트</title>
  </head>
  <body>
    <section class="section section-order-price">
      <div class="section-price">
        <span>상품금액</span>
        <span>0원</span>
      </div>
      <div class="section-discount">
        <div class="section-discount-guide">
          <span class="section-discount-guide-1">상품할인금액</span>
          <span class="section-discount-guide-2">-0원</span>
        </div>
        <p>로그인 후 할인 금액 적용</p>
      </div>
      <div class="section-delivery">
        <span>배송비</span>
        <span>3,000원</span>
      </div>
      <div class="section-pay">
        <div class="section-pay-guide">
          <span class="section-pay-guide-1">결제예정금액</span>
          <span class="section-pay-guide-2">10,560원</span>
        </div>
        <p>쿠폰/적립금은 주문서에서 사용 가능합니다</p>
      </div>
    </section>
  </body>
</html>
