<!-- 주문금액 컴포넌트 -->
<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../styles/cart-order-price.css" />
    <title>주문금액 컴포넌트</title>
  </head>
  <body>
    <section class="section section-order-price">
      <div>
        <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0062 25C11.0062 25 1.7002 17.544 1.7002 10.306C1.7002 7.8379 2.68065 5.47088 4.42586 3.72566C6.17107 1.98045 8.53809 1 11.0062 1C13.4743 1 15.8413 1.98045 17.5865 3.72566C19.3317 5.47088 20.3122 7.8379 20.3122 10.306C20.3122 17.544 11.0062 25 11.0062 25Z" stroke="#333333" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M10.9124 12.907C12.45 12.907 13.6964 11.6606 13.6964 10.123C13.6964 8.58544 12.45 7.339 10.9124 7.339C9.37486 7.339 8.12842 8.58544 8.12842 10.123C8.12842 11.6606 9.37486 12.907 10.9124 12.907Z" stroke="#333333" stroke-width="1.7" stroke-linecap="square" stroke-linejoin="round" />
        </svg>
        <span>배송지</span>
        <span></span>
        <span></span>
        <a href="/">배송지 변경</a>
      </div>
      <div class="section-price">
        <span class="section-price-1">상품금액</span>
        <span class="section-price-2">0원</span>
      </div>
      <div class="section-discount">
        <div class="section-discount-group">
          <span class="section-discount-group-1">상품할인금액</span>
          <span class="section-discount-group-2">-0원</span>
        </div>
        <p>로그인 후 할인 금액 적용</p>
      </div>
      <div class="section-delivery">
        <span class="section-delivery-1">배송비</span>
        <span class="section-delivery-2">3,000원</span>
      </div>
      <div class="section-pay">
        <div class="section-pay-group">
          <span class="section-pay-group-1">결제예정금액</span>
          <span class="section-pay-group-2">0원</span>
        </div>
        <p>쿠폰/적립금은 주문서에서 사용 가능합니다</p>
      </div>
    </section>
  </body>
</html>
