/* 아코디언 컴포넌트 스타일링 */
/* 공통 */
.accordion-number {
  font-size: 18px;
  color: var(--primary-200);
  font-weight: 700;
}

details summary::-webkit-details-marker {
  display: none;
}

/* 페이지이동 */
.accordion{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 3.125rem;
  background: #fff;
  border-radius: 10px;
  padding-inline: 0.9375rem;
  box-shadow: 0 2px 6px 4px rgb(0, 0, 0, 0.1);
  transition: all .3s ease-in ;

  &:hover {
    background: #d7acff;
    color: var(--white);

    .accordion-number{
      color: var(--white)
    }
  }

  .accordion-summary-pages {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 0.625rem;
    font-size: var(--m-textSize);
    font-weight: 400;

    .accordion-number {
      transition: color .3s ease-in ;
    }
  }
}

/* 아코디언 펼치기 */
.accordion-details {
  inline-size: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px 4px rgb(0, 0, 0, 0.1);

  &:hover {
    .accordion-icon {
      rotate: 45deg;
    }
  }
  .accordion-icon {
    transition: rotate 0.3s ease;
  }
  .accordion-summary {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    transition: background 0.3s ease-in;

    padding: var(--l-gap) var(--l-gap) 0.625rem;

    &:hover {
      background: #edf;
    }
  }

  .accordion-sub {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background: #fafafa;
    padding-block-start: 14px;
    padding-inline: var(--l-gap);
    border-block-start: 1px solid #eee;
    border-radius: 0 0 10px 10px;

    &:hover {
      .accordion-summary-sub {
        translate: 34px 0;
        transition: all 0.3s ease-in-out;
      }
    }

    .accordion-summary-sub {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      column-gap: 0.625rem;
      padding-block-end: var(--l-gap);

      .accordion-number-sub {
        font-size: 18px;
        font-weight: 400;
        color: var(--secondary-200);
      }
    }
  }

  .summary-header,
  .accordion-summary-sub {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 10px;
    font-size: var(--m-textSize);
    font-weight: 400;

    .accordion-number-sub {
      font-size: 18px;
      color: var(--secondary-200);
      font-weight: 400;
    }
  }
}

.accordion-summary:hover {
  .accordion-details,
  .accordion-summary {
    background: #edf;
  }
}
