/* 버튼 컴포넌트 스타일링 */
.section-btn {
  padding-inline: var(--m-gap);
  margin-block-end: 1.25rem;

  :hover {
    background: var(--primary-100);
  }
}

.btn-login,
.btn-order {
  inline-size: 100%;
  block-size: 3.4375rem;
  background: var(--primary-200);
  border: none;
  border-radius: 0.625rem;
  padding: 0;
  margin-block-start: var(--l-gap);

  font-size: var(--m-textSize);
  color: var(--white);
  text-align: center;
}

.btn-order {
  display: none;
}

@media (min-width: 1280px) {
  .btn-login {
    display: none;
    font-weight: 600;
  }
  .btn-order {
    display: block;
  }
}
