/* 조립초안 - 모바일(375px) 버전 및 PC(1280px) 반응형 버전 */
.section-cart {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-inline-size: 23.4375rem;

  @media (min-width: 1280px) {
    .section-both {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 2.75rem;
      justify-content: center;

      .section-left {
        inline-size: 46.375rem;
      }
      .section-right {
        inline-size: 17.75rem;
      }
    }
  }

  .section-items-status {
    display: none;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  /* 주문상품 컴포넌트 PC반응형 스타일링 */
  .section-order-items {
    @media (min-width: 1280px) {
      background: var(--white);
    }
  }
}

/* 주문금액 컴포넌트 PC반응형 스타일링 */
.section-address-info,
.section-order-notice {
  display: none;

  @media (min-width: 1280px) {
    display: block;
    border: 1px solid var(--gray-60);

    .section-address,
    .section-address-2 {
      margin-block-end: var(--xl-gap);
    }

    .section-address-3 {
      background-color: rgba(215, 172, 255, 0.6);
      border-radius: 4px;
      padding: 0.125rem 0.25rem;
    }

    a {
      margin-block-start: var(--xl-gap);
    }
  }
}
