/* 주문금액 컴포넌트 스타일링 */
.section-wrapper {
  padding: var(--xl-gap);

  @media (min-width: 1280px) {
    background: var(--gray-60);
    border: 1px solid var(--gray-60);
  }
}

.section-order-price {
  display: flex;
  flex-flow: column nowrap;
  color: var(--content);
  font-size: var(--m-textSize);
  white-space: nowrap;

  padding-inline: var(--l-gap);
  padding-block-start: var(--l-gap);

  .section-price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-block: var(--s-gap);
  }

  .section-discount {
    display: flex;
    flex-flow: column nowrap;

    .section-discount-group {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-block: 0.375rem;

      .section-discount-group-2 {
        justify-items: center;
        color: var(--orange);
      }
    }

    p {
      display: flex;
      font-size: var(--s-textSize);
      justify-content: end;
      white-space: nowrap;
    }
  }

  .section-price-2,
  .section-discount-group-2,
  .section-delivery-2 {
    font-weight: 700;
  }

  @media (min-width: 1280px) {
    .section-discount {
      p {
        display: none;
      }
    }

    .section-pay {
      p {
        display: none;
      }
    }
  }
}

.section-delivery {
  display: flex;
  justify-content: space-between;
  padding-block: 0.875rem;
}

.section-pay {
  display: flex;
  flex-flow: column nowrap;
  padding-block: var(--l-gap);

  @media (min-width: 1280px) {
    border-block-start: 1px dashed var(--gray-100);
  }

  .section-pay-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 0.375rem;

    .section-pay-group-2 {
      font-size: var(--l-textSize);
      font-weight: 900;
    }
  }

  p {
    display: flex;
    font-size: var(--s-textSize);
    line-height: var(--l-textLineHeight);
    justify-content: end;
    white-space: nowrap;
  }

  .section-earn-info {
    --accent-orange: #fa622f;

    display: flex;
    column-gap: 4px;
    align-items: center;
    justify-items: center;
    justify-content: end;
    font-size: var(--xs-textSize);
    font-weight: 600;
    margin-block-start: var(--m-gap);
    visibility: hidden;

    span {
      background: var(--accent-orange);
      padding-inline: var(--s-gap);
      padding-block: 0.125rem;
      color: var(--white);
    }

    @media (min-width: 1280px) {
      visibility: visible;
    }
  }
}
