/* 공통적용 */
input {
  margin: 0;
  accent-color: var(--black);
  inline-size: var(--xl-gap);
  block-size: var(--xl-gap);
}

/* 주문상품 컴포넌트 스타일링 */
.section-order-items {
  background: var(--gray-50);
  display: flex;
  flex-flow: column nowrap;
  padding-inline: var(--m-gap);
  padding-block: var(--l-gap);

  .section-background {
    background: var(--white);
    border-radius: 0.75rem;
    padding-inline: var(--s-gap);
    padding-block-end: var(--xl-gap);
    position: relative;

    .input-delivery,
    .input-name {
      position: relative;

      label {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        justify-content: center;
      }

      input {
        position: absolute;
        accent-color: var(--primary-200);
        inline-size: var(--xl-gap);
        block-size: var(--xl-gap);
        cursor: pointer;
      }

      input:checked + label {
        svg {
          fill: var(--primary-200);
        }
      }
    }

    .input-delivery {
      display: flex;
      padding-inline: var(--l-gap);
      padding-block: var(--xxl-gap);
      column-gap: var(--l-gap);
      border-bottom: 1px solid var(--gray-50);
    }

    .input-name {
      margin-block-end: 1.875rem;
    }

    figure {
      display: flex;
      margin-inline-start: 3.125rem;
      column-gap: var(--l-gap);

      img {
        inline-size: 4rem;
        block-size: 5.125rem;
        border-radius: 0.375rem;
      }

      em {
        font-weight: 700;
        font-size: var(--m-textSize);
      }

      s {
        font-size: var(--s-textSize);
        color: var(--content);
      }
    }

    .section-order-items-status {
      display: flex;
      column-gap: var(--s-gap);
      padding-inline-start: var(--l-gap);
      padding-block-start: var(--s-textSize);
      padding-block-end: var(--xl-gap);

      align-items: center;
    }
  }

  .input-name {
    display: flex;
    justify-content: space-between;

    .input-items-name {
      display: flex;
      align-items: center;
      column-gap: var(--s-textSize);
    }
  }
}

.input-delivery,
.section-items-status,
.input-name {
  padding-inline: var(--l-gap);
}

.section-price-total {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.125rem;
  background: var(--gray-50);
  margin: var(--xl-gap);
  padding-inline: 4rem;
  padding-block: var(--l-gap);
  text-align: center;
  align-items: center;
  line-height: var(--m-textLineHeight);
  border-radius: var(--s-gap);

  p {
    color: gray;
    font-size: var(--s-textSize);
    font-weight: 700;
    white-space: nowrap;
  }

  output {
    color: var(--black);
    font-weight: 700;
  }
}

.btn-quantity {
  display: flex;
  background: var(--gray-50);
  border: none;
  border-radius: var(--l-gap);
  padding: 0.3125rem 0.625rem;
  opacity: 1;

  position: absolute;
  top: 13.125rem;
  left: 8.75rem;
  margin-top: var(--l-gap);

  output {
    font-size: var(--s-textSize);
  }

  .btn-increase,
  .btn-decrease {
    inline-size: 1rem;
    border: 0;
    display: flex;
    align-items: center;
  }

  .btn-increase {
    order: 1;
  }
}
