body {
  .color-primary {
    color: var(--primary-200);
  }
  .footer-icon {
    svg {
      width: 30px;
      height: 30px;
      display: inline-block;
    }
  }
  .footer-btn {
    text-align: center;
    align-content: center;
  }
}
.footer {
  width: 100%;
  background: #f1f5f8;
  color: var(--content);
  font-size: var(--xs-textSize);
  line-height: var(--m-textLineHeight);
  padding-block-start: 35px;

  .footer-width {
    inline-size: clamp(375px, 100%, 1280px);
    margin-inline: auto;
    padding-inline: 15px;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4);
    row-gap: var(--xl-gap);
    margin-block-end: var(--xl-gap);
  }
  .footer-CS {
    .CS-callnumber {
      font-weight: 500;
      font-size: var(--l-textSize);
      line-height: var(--l-textLineHeight);
    }
    .footer-ask {
      display: grid;
      row-gap: var(--m-gap);
      margin-block-end: var(--m-gap);
      .footer-ask-list {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(2 1fr);
        justify-content: start;
        column-gap: var(--m-gap);

        .footer-ask-btn {
          --content-100: #858f99;

          grid-row: 1 / 3;
          padding: var(--s-gap) var(--xxl-gap);
          min-width: 140px;
          max-height: 40px;
          background: var(--white);
          border: 1px solid var(--content-100);
        }
        p {
          word-break: keep-all;
          align-self: center;
          grid-column: 2 / 3;

          &:nth-of-type(1) {
            grid-row: 1 / 2;
          }
          &:nth-of-type(2) {
            grid-row: 2 / 3;
          }
        }
      }
    }
  }
  .footer-nav {
    ul {
      display: flex;
      flex-flow: row wrap;
      gap: var(--s-gap) var(--m-gap);
      inline-size: 90%;
    }
    a {
      display: inline-block;
      padding-block: var(--s-gap);
      padding-inline-end: var(--s-gap);
      text-align: start;
      line-height: 1;
    }
    em {
      --content-300: #565f68;

      font-weight: 700;
      color: var(--content-300);
    }
  }
  .footer-about {
    word-break: keep-all;
    .footer-about-adress {
      font-style: normal;
      margin-block-end: var(--xl-gap);
    }
  }
  .footer-sns {
    ul {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
    }
    svg {
      inline-size: 25px;
    }
  }
  .footer-certification {
    li {
      display: flex;
      gap: var(--m-gap);
      margin-block-end: var(--l-gap);
    }
    svg {
      inline-size: 35px;
    }
    p {
      word-break: keep-all;
      span {
        display: block;
      }
    }
    .toss-icon {
      svg {
        inline-size: inherit;
      }
    }
    .woori-icon {
      div {
        inline-size: 50px;
      }
      svg {
        width: 100%;
        height: auto;
        filter: grayscale(1);
      }
    }
  }
  .footer-copyright {
    padding: 10px 15px 35px;
    text-align: center;
    display: grid;
    gap: var(--s-gap);
  }
}

@media (min-width: 768px) {
  .footer {
    --footer-bd-200: #666;

    border-block-start: 1px solid var(--footer-bd-200);
    .footer-info {
      row-gap: var(--xxl-gap);
      margin-block-end: var(--xxl-gap);
    }
    .footer-CS {
      h4 {
        font-size: var(--m-textSize);
      }
      .footer-ask {
        row-gap: var(--l-gap);
      }
    }
    .footer-nav {
      ul {
        gap: var(--m-gap) var(--s-gap);
        inline-size: 100%;
      }
      a {
        padding-block: var(--m-gap);
        padding-inline-end: var(--m-gap);
      }
    }
    .footer-about {
      word-break: keep-all;
      .footer-about-adress {
        font-style: normal;
        margin-block-end: var(--xl-gap);
      }
    }
    .footer-sns {
      ul {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
      }
      svg {
        inline-size: 25px;
      }
    }
    .footer-certification {
      --footer-bd-100: #e1e1e1;

      border-block-start: 1px solid var(--footer-bd-100);
      padding-block-start: var(--xxl-gap);

      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
      }
      li {
        inline-size: 50%;
      }

      .toss-icon {
        div {
          inline-size: 120px;
        }
      }
      .woori-icon {
        translate: -2% 0;
      }
    }
    .footer-copyright {
      --gray-50: #f9f9f9;
      background: var(--gray-50);
      p {
        margin-inline: auto;
        max-inline-size: 680px;
      }
      span {
        display: block;
      }
    }
  }
}
