body {
  --banner-height: 30px;
}
.top-banner {
  width: 100%;
  background: var(--primary-200);
  height: var(--banner-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s-gap);
  position: relative;
  &.hidden {
    display: none;
  }
  a {
    color: var(--white);
    font-size: var(--s-textSize);
  }
  em {
    font-weight: 700;
  }
  .banner-close {
    position: absolute;
    top: 50%;
    right: 0;
    translate: -50% -50%;
    width: 10px;
    height: 10px;
    padding: var(--m-gap);
    span {
      width: 18px;
      height: 1px;
      background: var(--white);
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      &:nth-of-type(1) {
        rotate: 45deg;
      }
      &:nth-of-type(2) {
        rotate: 135deg;
      }
    }
  }
}
.header {
  margin-top: var(--banner-height);
  transition: margin-top 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  font-size: var(--s-textSize);
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  .header-width {
    --header-heignt: 2.8125rem;

    width: clamp(375px, 100%, 1280px);
    margin-inline: auto;
    padding-inline: 0.9375rem;
    height: var(--header-heignt);
  }

  .header-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: var(--primary-200);
    color: var(--white);

    .logo {
      justify-self: start;
      svg {
        display: block;
        height: 1.5625rem;
        fill: var(--white);
      }
    }
    .header-link {
      justify-self: center;
      width: 8.75rem;
      height: 1.625rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--primary-100);
      border-radius: 50px;

      .header-link-space {
        border-radius: inherit;
        text-align: center;
        align-content: center;
        width: 100%;
        height: 100%;
      }
      span {
        display: none;
      }

      .market {
        background: var(--white);
        color: var(--primary-200);
      }
      .beauty {
        --white-100: #cacaca;

        color: var(--white-100);
      }
    }
    .header-login {
      display: none;
    }
    .header-search {
      display: none;
    }
    .header-btn-wrapper {
      justify-self: end;
      display: flex;
      align-items: center;
      gap: var(--m-gap);

      .header-like {
        display: none;
      }
      svg {
        width: 1.5rem;
        path {
          fill-rule: var(--white);
        }
      }
    }
  }
  .header-bottom {
    --gray-300: #ddd;
    --gray-200: #f7f7f7;

    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--content);
    font-size: var(--s-textSize);
    position: relative;

    .lnb-btn {
      display: flex;
      align-content: center;
      &.active + .lnb {
        display: block;
      }
      .lnb-btn-text {
        display: none;
      }
      svg {
        display: block;
      }
    }
    .lnb {
      border: 1px solid var(--gray-300);
      position: absolute;
      z-index: 1000;
      display: none;
      top: 100%;
      left: 0;
      width: clamp(200px, 100%, 20vw);
      height: calc(100vh - 60px);
      background: var(--white);
      overflow: scroll;
    }
    .lnb-list {
      padding: var(--s-gap) var(--m-gap);
      display: flex;
      gap: var(--s-gap);
      &:hover,
      &:focus-within {
        color: var(--primary-200);
        background: var(--gray-200);
      }
      a {
        display: flex;
        gap: var(--s-gap);
        &:focus {
          outline: 0;
        }
        span {
          align-content: center;
        }
      }
    }

    .gnb {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--s-gap);
    }
    .gnb-list {
      @media (min-width: 440px) {
        margin: var(--xs-gap) var(--s-gap);
      }
    }
    .gnb-hover {
      position: relative;
      a {
        &:focus {
          outline: none;
        }
        &:hover,
        &:focus-visible {
          color: var(--primary-200);
          &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--primary-200);
          }
        }
      }
    }
    .early-delivery {
      font-size: var(--xs-textSize);
      border: 1px solid #cacaca;
      border-radius: 50px;
      padding: var(--xs-gap) var(--s-gap);
      span {
        color: var(--primary-200);
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    .header-top {
      grid-template-columns: repeat(4, 1fr);

      .header-link {
        justify-self: start;
      }
      .header-search {
        justify-self: center;
        display: block;
        position: relative;
        border-radius: var(--xs-gap);
        overflow: hidden;
        width: clamp(250px, 100%, 300px);

        .header-search-input {
          width: 100%;
          padding: var(--s-gap) var(--m-gap);
          appearance: none;
          border: none;
          background: var(--white);
        }
        .header-search-label {
          position: absolute;
          top: 50%;
          right: var(--m-gap);
          translate: 0 -50%;
          color: var(--primary-200);
          svg {
            height: var(--l-gap);
            stroke-width: 1.7;
          }
        }
      }
      .header-btn-wrapper {
        .header-like {
          display: block;
        }
      }
    }
    .header-bottom {
      .lnb-btn {
        gap: var(--s-gap);
        .lnb-btn-text {
          display: block;
        }
      }
      .lnb {
        height: calc(100vh - 60px);
      }
      .gnb {
        .gnb-list {
          margin: var(--s-gap) var(--xl-gap);
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  body {
    --banner-height: 50px;
  }
  .header {
    --header-heignt: auto;

    font-size: var(--s-textSize);
    width: 100%;
    background: var(--white);

    .header-width {
      --l--gap: 20px;

      width: clamp(375px, 100%, 1050px);
      padding-inline: var(--l-gap);

      &:nth-of-type(1) {
        --header-heignt: 125px;
        height: var(--header-heignt);
      }
      &:nth-of-type(2) {
        --header-heignt: 72px;
        height: var(--header-heignt);
      }
    }

    .header-top {
      --pc-header-top-space: 52px;
      --content-100: #d9d9d9;

      grid-template-columns: 90px auto repeat(6, 1fr);
      gap: var(--m-gap);
      background-color: var(--white);
      padding-block: var(--pc-header-top-space) var(--s-gap);
      position: relative;
      gap: 0;

      .logo {
        svg {
          height: 2.5625rem;
          color: var(--primary-200);
        }
      }
      .header-link {
        --l-textSize: 18px;

        position: relative;
        grid-column: 2;
        justify-self: start;
        font-weight: 500;
        font-size: var(--l-textSize);
        width: 100%;
        background: none;
        border-radius: none;

        .header-link-space {
          margin-inline: var(--m-gap);
        }
        span {
          display: block;
          position: absolute;
          top: 50%;
          right: 50%;
          translate: -50% -50%;
          width: 1px;
          height: 14px;
          background: var(--content-100);
        }
      }
      .header-login {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1200;
        font-size: var(--xs-textSize);
        color: var(--content);
        display: flex;
        > a {
          padding: var(--m-gap);
        }

        .header-CS {
          position: relative;
          padding: var(--m-gap);
          &:hover {
            .header-qna {
              display: flex;
            }
          }
        }

        span {
          width: 1px;
          height: 13px;
          background: var(--content-100);
        }
        .header-qna {
          padding: var(--s-gap);
          display: flex;
          flex-flow: column nowrap;
          gap: var(--m-gap);
          position: absolute;
          top: calc(100%);
          right: 0;
          width: 100px;
          background: var(--white);
          border: 1px solid var(--content);
          display: none;
        }
      }
      .header-search {
        grid-column: 3 / 7;
        justify-self: center;
        align-self: center;
        width: clamp(350px, 100%, 400px);
        border: 1px solid var(--primary-200);
        font-size: var(--m-textSize);

        .header-search-input {
          padding: var(--l-gap) var(--l-gap);
        }
        .header-search-label {
          right: var(--m-gap);
        }
      }
      .header-btn-wrapper {
        grid-column: 8;
        color: var(--content);
        gap: var(--xl-gap);
        svg {
          width: 2.25rem;
        }
      }
    }
    .header-bottom {
      background: var(--white);
      font-size: var(--m-textSize);
      padding-block: var(--m-gap);
      .lnb {
        --header-heignt: 197px;
        height: calc(100vh - (var(--banner-height) + var(--header-heignt)));
      }
      .gnb {
        .gnb-list {
          --xxl-gap: 54px;

          margin: var(--s-gap) var(--xxl-gap);
        }
      }
    }
  }
}
