.header {
  .logo {
    justify-self: start;
    svg {
      display: block;
      height: 1.5625rem;
      fill: var(--white);
    }
  }
  @media (min-width: 1280px) {
    .logo {
      svg {
        height: 2.5625rem;
        color: var(--primary-200);
      }
    }
  }
}
