body {
  background: var(--content);
}
.top-banner {
  width: 100%;
  background: var(--primary-200);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: var(--white);
    font-size: var(--s-textSize);
  }
  em {
    font-weight: 700;
  }
}
.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  font-size: var(--s-textSize);
  display: flex;
  flex-flow: column nowrap;

  .header-width {
    width: clamp(375px, 100%, 1050px);
    margin-inline: auto;
    padding-inline: 0.9375rem;
    height: 2.8125rem;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-200);
    color: var(--white);
    padding-block: var(--s-gap);

    .logo {
      svg {
        display: block;
        height: 1.5625rem;
        fill: var(--white);
      }
    }
    .header-link {
      width: 8.75rem;
      height: 1.625rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--primary-100);
      border-radius: 50px;

      .header-link-space {
        border-radius: inherit;
        text-align: center;
        align-content: center;
        width: 100%;
        height: 100%;
      }

      .market {
        background: var(--white);
        color: var(--primary-200);
      }
      .beauty {
        --white-100: #cacaca;

        color: var(--white-100);
      }
    }
    .header-search {
      display: none;
    }
    .header-btn-wrapper {
      display: flex;
      gap: var(--m-gap);
      .header-address {
        svg {
          width: 1.125rem;
        }
      }
      .header-like {
        display: none;
      }
      svg {
        width: 1.375rem;
        stroke: var(--white);
      }
    }
  }
  .header-bottom {
    background: var(--white);

    .gnb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--content);
    }
    .gnb-list {
      padding-block: var(--s-gap);
      display: flex;
      align-items: center;
    }
    .gnb-hover {
      position: relative;
      a {
        &:focus {
          outline: none;
        }
        &:hover,
        &:focus-visible {
          color: var(--primary-200);
          &::after {
            content: '';
            position: absolute;
            bottom: 10%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--primary-200);
          }
        }
      }
    }
    .lnb-btn {
      align-content: center;
      position: relative;
      gap: var(--xs-gap);
      &.active {
        .lnb {
          display: block;
        }
      }
      svg {
        display: block;
      }
    }
    .lnb {
      position: absolute;
      z-index: 1000;
      display: none;
      top: 100%;
      left: -15px;
      width: clamp(250px, 100%, 50vw);
      height: calc(100vh - 60px);
      background: var(--white);
      overflow: scroll;
    }
    .lnb-list {
      padding: var(--s-gap) var(--m-gap);
      display: flex;
      gap: var(--s-gap);
      &:hover,
      &:focus-within {
        background: var(--secondary-100);
      }
      a {
        display: flex;
        gap: var(--s-gap);
        &:focus {
          outline: 0;
        }
        span {
          align-content: center;
        }
      }
    }
    .early-delivery {
      border: 1px solid #cacaca;
      border-radius: 50px;
      padding: var(--xs-gap) var(--s-gap);
      span {
        color: var(--primary-200);
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    font-size: var(--s-textSize);

    .header-top {
      .header-search {
        display: block;
        position: relative;
        border-radius: var(--xs-gap);
        overflow: hidden;
        width: 250px;

        .header-search-input {
          width: 100%;
          padding: var(--s-gap) var(--m-gap);
          appearance: none;
          border: none;
          background: var(--white);
        }
        .header-search-label {
          position: absolute;
          top: 50%;
          right: var(--m-gap);
          translate: 0 -50%;
          color: var(--primary-200);
        }
      }
      .header-btn-wrapper {
        .header-like {
          display: block;
        }
      }
    }
  }
}
