.main-card {
  inline-size: 100%;
  max-inline-size: 15.625rem;

  .main-card-img {
    margin-block-end: var(--m-gap);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    source,
    img {
      transition: all 0.3s ease-in;
      inline-size: 100%;
      display: block;
      &:hover {
        scale: 1.05;
      }
    }
  }
  .main-card-btn {
    --primary-50: rgb(42, 0, 56, 0.5);
    --btn-size: 2.8125rem;

    position: absolute;
    bottom: 0.625rem;
    right: 0.75rem;
    background: var(--primary-50);
    max-inline-size: var(--btn-size);
    padding: var(--m-gap);
    border-radius: 50px;

    svg {
      display: block;
      translate: -2px 0;
    }
  }
  .main-card-info {
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--xs-gap);
    font-size: var(--xs-textSize);
    line-height: var(--s-textLineHeight);
    color: var(--gray-400);
  }
  .main-early-express {
    font-weight: 500;
  }

  .main-card-title {
    color: var(--content);
    font-size: var(--s-textSize);
    line-height: var(--m-textLineHeight);
    word-break: keep-all;
  }
  .main-card-sale-price {
    color: var(--content);
    font-size: var(--m-textSize);
    font-weight: 500;

    .main-card-sale {
      color: var(--orange);
      margin-inline-end: var(--xs-gap);
    }
  }
  .main-card-price {
    color: var(--content);
    line-height: var(--m-textLineHeight);
    font-size: var(--m-textSize);
    font-weight: 500;
  }
  .main-card-sub {
    line-height: var(--m-textLineHeight);
  }
  .main-card-badge {
    display: flex;
    gap: var(--s-gap);
  }
  .main-badge {
    font-weight: 500;
    background: var(--gray-100);
    border-radius: 4px;
    padding: var(--xs-gap);
  }
  .badge-karly {
    color: var(--primary-200);
  }
  .badge-limited {
    color: var(--content);
  }
  .text-primary {
    color: var(--secondary-200);
  }
  .text-through {
    color: var(--gray-400);
    text-decoration: line-through;
    font-size: var(--s-textSize);
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .main-card {
    .main-card-img {
      margin-block-end: var(--l-gap);
    }
    .main-card-btn {
      bottom: 0.9375rem;
      right: 1.0625rem;
    }
    .main-card-info {
      gap: var(--s-gap);
      line-height: var(--m-textLineHeight);
    }
    .main-card-title {
      line-height: var(--l-textLineHeight);
    }
    .main-card-sale-price {
      font-size: var(--l-textSize);
    }
    .main-card-price {
      font-size: var(--l-textSize);
      line-height: var(--l-textLineHeight);
    }
    .main-card-sub {
      line-height: var(--l-textLineHeight);
    }
    .text-through {
      font-size: var(--s-textSize);
    }
  }
}
