/* 리스트 화면 스타일링 */


.filter{
  display: flex;
}

.list-wrapper{
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

.sub-grid{
  width: 100%;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  gap: 12px;
  /* 고정 높이 제거 */
  height: auto;
}

/* 데스크탑(pc) - 반응형 */
@media (min-width: 1280px) {

  .list-wrapper{
    display: flex;
    flex-flow: column nowrap;
  }

   .sub-grid{
    inline-size: 100%;
    min-inline-size: 320px;
    block-size: 200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
  }

  
  .filter-toggle-btn
  {
    display: none;
  }
  

  .filter-panel {
    position: relative;
    bottom: auto;
    width: 17.5rem;
    height: 100vh;
    overflow-y: auto;

  }

  .main-grid{
  inline-size: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 12px;
}

  
}