.team-card {
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px 4px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  word-break: keep-all;

  &:hover,
  :focus {
    scale: 1.02;
  }

  img {
    max-width: 210px;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
  figcaption {
    inline-size: 100%;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  ul {
    display: contents;
  }
  li {
    padding-block: 6px;
  }
  .name-bold {
    font-size: 16px;
    font-weight: 700;
    padding-inline-end: 6px;
  }
  .team-github {
    color: var(--gray-m-200);
    font-weight: 700;
    font-size: 16px;
  }
  .team-border-bottom {
    border-bottom: 1px solid var(--secondary-100);
  }
  .team-border-top {
    border-top: 1px solid var(--secondary-100);
  }
}

@media (min-width: 768px) {
  .team-card {
    inline-size: clamp(350px, 100%, 550px);
    min-block-size: 190px;
    display: flex;
    justify-content: center;

    img {
      max-width: 180px;
    }
    figcaption {
      font-size: 14px;
    }

    .name-bold {
      font-size: 18px;
    }
    .team-github {
      font-size: 16px;
    }
  }
}

@media (min-width: 1280px) {
  .team-card {
    display: inline-flex;
    flex-flow: column nowrap;
    inline-size: clamp(250px, 100%, 300px);
    img {
      max-width: none;
    }

    figcaption {
      font-size: 16px;
    }
    .name-bold {
      display: block;
      font-size: 20px;
      padding-inline-end: 0;
      padding-block-end: 6px;
    }
    .team-github {
      font-size: 18px;
    }
  }
}
