.team-card {
  border: 1px solid var(--primary-200);
  /* max-inline-size: 340px; */
  max-block-size: 200px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px 4px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;

  &:hover,
  :focus {
    scale: 1.02;
  }

  img {
    width: 40%;
    object-fit: cover;
  }
  figcaption {
    flex: 1;
    padding: 10px;
    font-size: 14px;
  }
  li {
    padding-block: 6px;
  }
  .name-bold {
    font-size: 16px;
    font-weight: 700;
    padding-inline-end: 6px;
  }
  .team-github {
    color: var(--gray-m-200);
    font-weight: 700;
    font-size: 16px;
  }
  .team-border-bottom {
    border-bottom: 1px solid var(--secondary-100);
  }
  .team-border-top {
    border-top: 1px solid var(--secondary-100);
  }
}

@media (min-width: 768px) {
  .team-card {
    max-inline-size: 190px;
    max-block-size: 330px;
    flex-direction: column;

    max-block-size: none;
    img {
      width: 100%;
    }
    li {
      padding-block: 10px;
    }
    .name-bold {
      display: block;
      font-size: 18px;
      margin-right: 0;
      margin-bottom: 6px;
    }
    .team-github {
      font-size: 16px;
    }
  }
}
