/* button-navi */

.button-navi{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-block-start: 12px;
}

@media (width >= 1024px) {
  .button-navi {
    display: none;
  }
}