<!-- 상품문의 페이지(컴포넌트 조립) -->
<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../style.css" />
    <title>상품문의 페이지(컴포넌트 조립)</title>
  </head>
  <body>
    <div class="inquiry-wrapper">
      <h2 class="sr-only">상품문의 페이지</h2>
      <section class="inquiry-title">
        <h3>상품 문의하기</h3>
        <button type="button" class="btn-close" aria-label="닫기">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0.762L11.238 0L6 5.238L0.762 0L0 0.762L5.238 6L0 11.238L0.762 12L6 6.762L11.238 12L12 11.238L6.762 6L12 0.762Z" fill="#CCCCCC" />
          </svg>
        </button>
      </section>
      <section class="inquiry-product">
        <h3 class="sr-only">문의상품</h3>
        <img src="../assets/images/product01.avif" alt="탱탱쫄면(4개입)" />
        <p>[풀무원] 탱탱쫄면 (4개입)</p>
      </section>
      <form action="/" name="inquiry" method="POST" class="form-input">
        <h3 class="sr-only">문의내용 입력란</h3>
        <div class="form-input-inquiry">
          <label for="input-title">제목</label>
          <input type="text" id="input-title" placeholder="제목을 입력해 주세요" />
        </div>
        <div class="form-input-contents">
          <label for="input-contents">내용</label>
          <textarea
            class="input-contents"
            id="input-contents"
            placeholder="상품문의 작성 전 확인해 주세요&#10;-답변은 영업일 기준 2-3일 소요됩니다.&#10;-해당 게시판의 성격과 다른 글은 사전동의 없이 담당 게시판으로 이동될 수 있습니다.&#10;-배송관련, 주문(취소/교환/환불)관련 문의 및 요청사항은 마이칼리 내 1:1 문의에 남겨주세요.&#10;[제품]&#10;-입고일 : 품절 상품 입고 일이 확정된 경우, 섬네일에 기재되어 있습니다. (종 모양을 클릭하여, 재입고 알림 설정 가능)&#10;-제품 상세정보 : 영양성분 및 함량, 용량, 보관 및 취급 방법 등 제품 정보는 상세이미지 또는 상세정보에서 확인 가능합니다.&#10;[배송]&#10;-배송일 및 배송시간 지정은 불가능합니다. (예약배송 포함)&#10;-주문 이후 주소지, 결제수단 변경 등 정보수정은 불가능합니다."
          ></textarea>
        </div>
        <div class="checkbox-inquiry">
          <input type="checkbox" id="check-inquiry-type" name="checkbox-name" />
          <label for="check-inquiry-type">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_84_3007)">
                <path d="M12 23.5C18.3513 23.5 23.5 18.3513 23.5 12C23.5 5.64873 18.3513 0.5 12 0.5C5.64873 0.5 0.5 5.64873 0.5 12C0.5 18.3513 5.64873 23.5 12 23.5Z" stroke="#C4C4C4" />
                <path d="M7 12.667L10.385 16L18 8.5" stroke="#C4C4C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_84_3007">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
            비밀글로 문의하기
          </label>
        </div>
        <div class="btn-group-popup">
          <h4 class="sr-only">상품문의 등록/취소버튼</h4>
          <button type="button" class="btn-cancel" aria-label="등록취소">취소</button>
          <button type="submit" class="btn-submit" aria-label="내용등록">등록</button>
        </div>
      </form>
    </div>
  </body>
</html>
