<!-- 후기작성 페이지(컴포넌트 조립) -->
<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../style.css" />
    <title>후기작성 페이지(컴포넌트 조립)</title>
  </head>
  <body>
    <div class="review-wrapper">
      <h1 class="sr-only">후기작성 페이지</h1>
      <section class="review-title">
        <h2>후기 작성</h2>
        <button type="button" class="btn-close" aria-label="닫기">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0.762L11.238 0L6 5.238L0.762 0L0 0.762L5.238 6L0 11.238L0.762 12L6 6.762L11.238 12L12 11.238L6.762 6L12 0.762Z" fill="#CCCCCC" />
          </svg>
        </button>
      </section>
      <section class="review-product">
        <h2 class="sr-only">후기작성 상품내용</h2>
        <img src="../assets/images/product01.avif" alt="탱탱쫄면(4개입)" />
        <p>[풀무원] 탱탱쫄면 (4개입)</p>
      </section>
      <form action="/" name="review" method="POST" class="form-input">
        <h2 class="sr-only">후기작성 입력란</h2>
        <div class="form-input-review">
          <label for="input-title">제목</label>
          <input type="text" id="input-title" placeholder="제목을 입력해 주세요" />
        </div>
        <div class="form-input-contents">
          <label for="input-contents">내용</label>
          <textarea
            class="input-contents"
            id="input-contents"
            placeholder="컬리는 믿을 수 있는 후기문화를 함께 만들어가고자 합니다.식품등의 표시광고에 대한 법률을 준수하고자 다음과 같은 부당한 상품평에 대해서는 별도 고지 없이 임시 대처, 비공개 전환, 삭제, 적립금 회수 등의 필요한 조치가 취해 질 수 있습니다.&#10;[후기 작성 시 유의사항]&#10;-개인의 주관적인 의견으로 인해 상품의 기능 및 효과에 대하여 오해의 소지가 있는 내용&#10;-식품/건강기능식품과 관련하여 질병의 예방 및 치료, 체중감량(다이어트)에 효능효과가 있다는 내용&#10;-일반 화장품을 기능성화장품의 효능효과가 있다는 내용을 통한 오인 표현&#10;-의약외품을 의약품으로 오만하게 하는 표현&#10;-생활화확제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용&#10;-욕설, 폭력성, 음란성, 상업성 등의 게시물 또는 구매 상품과 무관하거나 반복되는 동일 단어나 문장을 사용하여 판매자나 다른 이용자의 후기 이용을 방해한다고 판단되는 경우"
          ></textarea>
        </div>
        <div class="btn-group-popup">
          <h3 class="sr-only">후기작성 등록/취소버튼</h3>
          <button type="button" class="btn-cancel" aria-label="등록취소">취소</button>
          <button type="submit" class="btn-submit" aria-label="내용등록">등록</button>
        </div>
      </form>
    </div>
  </body>
</html>
