<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../../style.css" />
    <title>푸터 고객센터 컴포넌트</title>
  </head>
  <body class="body footer">
    <div class="footer-CS">
      <p class="footer-CS-title">고객행복센터</p>
      <div class="footer-CS-info">
        <a href="tel:16441107" class="CS-callnumber color-primary">1644-1107<span class="sr-only">전화걸기</span></a>
        <span>월~토요일 오전 7시 <span aria-hidden="true">-</span> 오후 6시</span>
      </div>
      <ul class="footer-ask">
        <li class="footer-ask-list">
          <a href="#" class="footer-ask-btn">카카오톡 문의</a>
          <p>월~토요일 <span aria-hidden="true">|</span> 오전 7시 - 오후 6시</p>
          <p>일/공휴일 <span aria-hidden="true">|</span> 오전 7시 - 오후 1시</p>
        </li>
        <li class="footer-ask-list">
          <a href="#" class="footer-ask-btn">1:1 문의</a>
          <p>365일</p>
          <p>고객센터 운영시간에 순차적으로 답변 드리겠습니다.</p>
        </li>
        <li class="footer-ask-list">
          <a href="#" class="footer-ask-btn">대량주문 문의</a>
          <p>월~토요일 <span aria-hidden="true">|</span> 오전 7시 - 오후 6시</p>
          <p>점심시간 <span aria-hidden="true">|</span> 낮 12시 - 오후 1시</p>
        </li>
      </ul>
      <p class="footer-CS-nonmember">비회원 문의 : <a href="mailto:help@karlycorp.com" class="color-primary">help@karlycorp.com</a></p>
      <p class="footer-CS-nonmember">비회원 대량주문 문의 : <a href="mailto:help@karlycorp.com" class="color-primary">help@karlycorp.com</a></p>
    </div>
  </body>
</html>
