<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="../../style.css" />
    <title>푸터 회사정보 컴포넌트</title>
  </head>
  <body class="body footer">
    <ul class="footer-about">
      <li>법인명 (상호) : 주식회사 칼리 <span aria-hidden="true">|</span> 사업자등록번호 : 111-11-22222 <span aria-hidden="true">|</span> <a href="#" class="color-primary">사업자정보 확인</a></li>
      <li>통신판매업 : 제 2005-서울강남-00000 호 <span aria-hidden="true">|</span> 개인정보보호책임자 : 홍길동</li>
      <li>주소 : 서울특별시 강남구 테헤란로 5003, 28층(역삼동) <span aria-hidden="true">|</span> 대표이사 : 심선범</li>
      <li>입점문의 : 입정문의하기 <span aria-hidden="true">|</span> 제휴문의 : <a href="mailto:business@kurlycorp.com" class="color-primary">business@kurlycorp.com</a></li>
      <li>채용문의 : <a href="mailto:recruit@kurlycorp.com" class="color-primary">recruit@kurlycorp.com</a></li>
      <li>팩스 : 070-1111-2222</li>
    </ul>
  </body>
</html>
