<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <link rel="stylesheet" href="/src/style.css" />
    <link rel="stylesheet" href="../styles/main-card.css" />
    <!-- 해당 스타일 넣는 곳 -->
    <title>메인 페이지 카드 컴포넌트</title>
  </head>
  <body>
    <figure class="main-card">
      <div class="main-card-img">
        <picture>
          <source srcset="/src/assets/images/main-product01.avif" />
          <img src="/src/assets/images/main-product01.png" alt="탱탱 쫄면(4개입)" />
        </picture>
        <button type="button" class="main-card-btn"></button>
      </div>
      <figcaption>
        <a href="#">
          <ul>
            <li class="main-early-express">[온더바디] 죠르디 시카 자석 선쿠션</li>
            <li class="main-card-title">[온더바디] 죠르디 시카 자석 선쿠션</li>
            <li class="main-card-sale-price"></li>
            <li class="main-card-price">24,900원</li>
            <li class="main-card-sub">CJ즉석밥 고소한 맛의 발아 현미밥</li>
            <li class="main-card-badge"><span></span><span></span></li>
          </ul>
        </a>
      </figcaption>
    </figure>
  </body>
</html>
