/* 리스트 화면 스타일링 */


.filter{
  display: flex;
}

.list-wrapper{
  padding-block-start: 150px;
  padding-block-end: 1500px;
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

.sub-grid{
  inline-size: inherit;
  min-inline-size: 320px;
  block-size: 200px;
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
}

/* 데스크탑(pc) - 반응형 */
@media (min-width : 768px) {
  .list-wrapper{
    display: flex;
    flex-flow: column nowrap;
    
  }

  .sub-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;

  }

}



@media (min-width: 1280px)  {
  .list-wrapper{
    display: flex;
    flex-flow: column nowrap;
    padding-block-start: 250px;
    padding-block-end: 600px;
  }

  .main-grid{
     inline-size: inherit;
     display: grid;
     max-width: 1050px;
     margin: 0 auto;
     grid-template-columns: 260px 1fr;
     gap: 12px;
  }

   .sub-grid{
    inline-size: 100%;
    min-inline-size: 320px;
    block-size: 200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
  }

}