<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/font/pretendardvariable.css" />
    <!-- <link rel="stylesheet" href="../../style.css" /> -->
    <link rel="stylesheet" href="/src/style.css" />
    <title>사이드바 컴포넌트</title>
  </head>
  <body>
    <aside class="main-sidebar">
      <p>최근 본 상품</p>
      <ul class="sidebar-product-list">
        <li>
          <a href="#">
            <picture>
              <source srcset="/src/assets/images/main-product01.avif" />
              <img src="/src/assets/images/main-product01.png" alt="탱탱쫄면 4개입" />
            </picture>
          </a>
        </li>
        <li>
          <a href="#">
            <picture>
              <source srcset="/src/assets/images/main-product02.avif" />
              <img src="/src/assets/images/main-product02.png" alt="온더바디 죠르디 시카 자석 선쿠션" />
            </picture>
          </a>
        </li>
        <li>
          <a href="#">
            <picture>
              <source srcset="/src/assets/images/main-product03.avif" />
              <img src="/src/assets/images/main-product03.png" alt="유기농 밀키퀸 현미 4kg" />
            </picture>
          </a>
        </li>
      </ul>
      <button type="button" class="sidebar-btn-prev" aria-label="이전 항목">
        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M1 5L5 1L9 5" stroke="#999999" style="stroke: #999999; stroke: color(display-p3 0.6 0.6 0.6); stroke-opacity: 1" stroke-width="1.2" />
        </svg>
      </button>
      <button type="button" class="sidebar-btn-next" aria-label="다음 항목">
        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 1L5 5L1 1" stroke="#999999" style="stroke: #999999; stroke: color(display-p3 0.6 0.6 0.6); stroke-opacity: 1" stroke-width="1.2" />
        </svg>
      </button>
    </aside>
  </body>
</html>
