<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormRow Component</title>
    <link rel="stylesheet" href="style/FormRow.css">
    <link rel="stylesheet" href="style/Label.css">
    <link rel="stylesheet" href="style/Input.css">
    <link rel="stylesheet" href="style/Button.css">
</head>
<body>
    <div class="login-form-row-component">
        <div class="login-form-row">
            <div class="login-label">
                <div class="login-label-text">
                    아이디
                    <span class="login-label-required">*</span>
                </div>
            </div>
            <input type="text" class="login-input" placeholder="아이디를 입력해주세요" required>
            <button type="button" class="login-btn login-btn-small">중복확인</button>
        </div>
        
        <div class="login-form-row">
            <div class="login-label">
                <div class="login-label-text">
                    비밀번호
                    <span class="login-label-required">*</span>
                </div>
            </div>
            <input type="password" class="login-input" placeholder="비밀번호를 입력해주세요" required>
        </div>
    </div>
</body>
</html> 