<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Component</title>
    <link rel="stylesheet" href="style/Label.css">
</head>
<body>
    <div class="login-label-component">
        <div class="login-label">
            <div class="login-label-text">
                필수 라벨
                <span class="login-label-required">*</span>
            </div>
        </div>
        
        <div class="login-label">
            <div class="login-label-text">
                선택 라벨
                <span class="login-label-optional">(선택)</span>
            </div>
        </div>
    </div>
</body>
</html> 