<div class="label-component">
    <div class="label">
        <div class="label__text">
            라벨
            <span class="label__required">*</span>
        </div>
    </div>
</div>



<!-- CSS 구간입니다 -->


<style>
.label {
    width: 139px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label__text {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    display: flex;
    gap: 4px;
    padding: 4px;
}

.label__required {
    color: #F03F40;
    font-size: 16px;
    font-weight: 600;
}
</style> 