
.index-main{
  background: radial-gradient(circle at bottom, rgb(245, 234, 255, 0.5), #ffffff 50%);
}
.main-width {
  --15-gap: 15px;

  /* margin-block-start: 90px; */
  inline-size: clamp(345px, 100%, 1050px);
  margin-inline: auto;
  padding-inline: var(--15-gap);
}
.index-visual {
  block-size: 100dvh;
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding-block: 150px;
  background: radial-gradient(rgb(245, 234, 255, 0.8), #ffffff 70%);

  .visual-title {
    --30-textSize: 50px;

    font-size: var(--30-textSize);
    color: var(--primary-200);
    margin-block: 10px 100px;
  }
  .visual-sub-title {
    font-size: var(--xs-textSize);
    order: -1;
  }

  .visual-overview {
    margin-block-end: 90px;
  }
  /* 페이지 내 섹션 완성 후 위치 결정 */
  /* .page-navigation-btn {
    position: absolute;
    bottom: 20%;
  } */
  .visual-bg {
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
    z-index: -1;
    scale: 5;
    transition: scale 0.3s ease;
  }
}
.index-section {
  inline-size: 100%;
  padding-block: 1.875rem 3.125rem;
  .index-title {
    text-align: center;
    padding-block-end: 1.875rem;
  }
}
.index-team {
  .index-team-list {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--xl-gap);
  }
}
.accordion-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5625rem;
}
.index-content{
    display: flex;
    flex-flow: column nowrap;
}
.index-goal{
  .index-goal-container{}
}

@media (min-width: 768px) {
  .index-team {
    .index-team-list {
      justify-content: center;
      flex-flow: row wrap;

      > li {
        width: 48%;
      }
    }
  }
}
@media (min-width: 1280px) {
  .main {
    padding-inline: 0;
  }
  .index-visual {
    .visual-bg {
      scale: 7;
    }
  }
  .index-team {
    .index-team-list {
      justify-content: space-around;
      flex-flow: row nowrap;
      row-gap: var(--xxl-gap);

      > li:nth-of-type(even) {
        /* translate: 0 10%; */
        margin-block-start: 15%;
      }
    }
  }
  .index-content{
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 20%;
}
}
