:root {
  /* 폰트 사이즈 */
  --xs-textSize: 12px;
  --s-textSize: 14px;
  --m-textSize: 16px;
  --l-textSize: 22px;
  --xl-textSize: 28px;
  --xxl-textSize: 38px;

  /* 행간 */
  --s-textLineHeight: 1.2;
  --m-textLineHeight: 1.5;
  --l-textLineHeight: 1.6;

  /* 색상 */
  --black: #000;
  --white: #fff;
  --content: #333;
  --secondary-100: #d7acff;
  --secondary-200: #bd76ff;
  --secondary-300: #a544ff;
  --primary-100: #710097;
  --primary-200: #5f0080;
  --primary-300: #400055;
  --error: #f03f40;

  /* 간격 */
  --xs-gap: 4px;
  --s-gap: 8px;
  --m-gap: 12px;
  --l-gap: 16px;
  --xl-gap: 20px;
  --xxl-gap: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
