<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸터</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index-footer.css">
</head>
<body class="index-footer-layout">
    <footer class="index-footer">
        <div class="index-footer-content">
            <p class="index-footer-text index-footer-copyright">© 2025 멋쟁이 사자처럼 프론트엔드 14기 일석2조. All rights reserved.</p>
            <p class="index-footer-text index-footer-disclaimer">해당 사이트는 상업적 목적이 아닌, 팀 프로젝트 시안으로 제작되었습니다.</p>
            <p class="index-footer-text index-footer-links">
                <a href="https://github.com/FRONTENDBOOTCAMP-14th/project-team-2" target="_blank" rel="noopener noreferrer" class="index-footer-link">GitHub</a>
                <span class="index-footer-separator">|</span>
                <a href="https://www.notion.so/2-1ff73873401a8053a7d3c636b26e23fa" target="_blank" rel="noopener noreferrer" class="index-footer-link">Notion</a>
            </p>
        </div>
    </footer>
</body>
</html>