<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index-header.css">
</head>
<body class="index-header-layout">
    <header class="index-header">
        <div class="index-header-logo">
            <!-- 로고 클릭시 이동할 페이지 경로를 여기 변경하시면 됩니다 -->
            <a href="#">
                <img src="../../assets/svg/logo2.svg" alt="로고">
            </a>
        </div>
        
        <div class="index-header-nav">
            <div class="index-header-nav-item">
                <a href="#team" class="index-header-nav-link">팀 소개</a>
            </div>
            <div class="index-header-nav-item">
                <a href="#content" class="index-header-nav-link">콘텐츠</a>
            </div>
            <div class="index-header-nav-item">
                <a href="#goal" class="index-header-nav-link">목표</a>
            </div>
            <div class="index-header-nav-item">
                <a href="#review" class="index-header-nav-link">회고</a>
            </div>
        </div>
    </header>
</body>
</html>