<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>팀원 카드</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../styles/team-card.css" />
  </head>
  <body>
    <div class="team-card-wrapper">
      <div class="team-card">
        <figure>
          <img src="../../assets/images/index/card-image-01.png" alt="팀원사진" />
          <figcaption>
            <ul>
              <li class="team-border-bottom"><span class="name-bold">이름</span>역할</li>
              <li>맡은 분야</li>
              <li class="team-border-top team-github"><a href="#">GitHub 바로가기</a></li>
            </ul>
          </figcaption>
        </figure>
      </div>
    </div>
  </body>
</html>
