<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>button-navi</title>
    <link rel="preload" as="font" href="/font/pretendardvariable.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../../font/suit/SUIT-Variable.css" />
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="./styles/btn-navi.css" />
    
  </head>
  <body>

    <hr />
    
    <div class="button-navi">
      <div class="list-navbtn">
        <button class="outline-button">새로나온</button>
        <button class="outline-button">Kurly only</button>
        <button class="outline-button">벌스워크</button>
    
      </div>

        <div class="combo-form">
        <label for="category-m" class="sr-only">카테고리</label>
        <select class="combo-box" name="product" id="product">
          <option value="main">카테고리</option>
          <option value="product1">상품분류1</option>
          <option value="product2">상품분류2</option>
        </select>
      </div>

      
    
      
    </div>

    
  </body>
</html>