<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사이드메뉴 컴포넌트(필터)</title>
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <!-- <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="./sidemenu.css" /> -->
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <p>필터</p>
    <br />

    <!-- 모바일: 열기 버튼 -->
    <button class="filter-toggle-btn" aria-haspopup="dialog" aria-expanded="false" aria-controls="filterPanel">
      필터
      <span class="filter-icon"><img src="../../assets/svg/filter.webp" alt="필터 아이콘" /></span>
    </button>

    <hr />

    <!-- 공통: 필터 패널 -->
    <aside class="filter-panel" id="filterPanel" aria-label="필터 메뉴">
      <form class="filter-form">
        <div class="category-filter">
          <p class="category-filter title">필터</p>
          <button class="reset-btn" type="button">초기화</button>
        </div>

        <details class="category food">
          <summary class="category-toggle" type="button">카테고리</summary>
          <ul class="category-option bg-icon">
            <li><input type="checkbox" id="category-1" name="vegetable" /><label class="icon" for="category-1">채소</label></li>
            <li><input type="checkbox" id="category-2" name="fruit" /><label class="icon" for="category-2">과일·견과·쌀</label></li>
            <li><input type="checkbox" id="category-3" name="dairy-products" /><label class="icon" for="category-3">유제품</label></li>
          </ul>
        </details>

        <details class="category delivery">
          <summary class="category-toggle" type="button">배송</summary>
          <ul class="category-option bg-icon">
            <li><input type="checkbox" id="delivery-1" name="saesbyeol" /><label class="icon" for="delivery-1">샛별배송</label></li>
            <li><input type="checkbox" id="delivery-2" name="seller" /><label class="icon" for="delivery-2">판매자배송</label></li>
            <li><input type="checkbox" id="delivery-3" name="installation" /><label class="icon" for="delivery-3">설치배송</label></li>
          </ul>
        </details>

        <details class="category packaging">
          <summary class="category-toggle" type="button">포장타입</summary>
          <ul class="category-option bg-icon">
            <li><input type="checkbox" id="temperature-1" name="room" /><label class="icon" for="temperature-1">상온</label></li>
            <li><input type="checkbox" id="temperature-2" name="cold-storage" /><label class="icon" for="temperature-2">냉장</label></li>
            <li><input type="checkbox" id="temperature-3" name="freezing" /><label class="icon" for="temperature-3">냉동</label></li>
          </ul>
        </details>

        <details class="category price">
          <summary class="category-toggle" type="button">가격</summary>
          <ul class="category-option bg-icon">
            <li><input type="checkbox" id="price-1" name="low" /><label class="icon" for="price-1">6,600원 미만</label></li>
            <li><input type="checkbox" id="price-2" name="mid" /><label class="icon" for="price-2">6,600 ~ 9,990원</label></li>
            <li><input type="checkbox" id="price-3" name="high" /><label class="icon" for="price-3">9,990원 ~ 14.500원</label></li>
          </ul>
        </details>
      </form>
    </aside>
  </body>
</html>
