<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Radio Component</title>
    <!-- <link rel="stylesheet" href="style/Radio.css"> -->
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <div class="login-radio-component">
      <div class="login-radio login-radio-horizontal">
        <div class="login-radio-group">
          <input type="radio" name="gender" id="male" class="login-radio-input" value="male" />
          <label for="male" class="login-radio-label">남자</label>
        </div>
        <div class="login-radio-group">
          <input type="radio" name="gender" id="female" class="login-radio-input" value="female" />
          <label for="female" class="login-radio-label">여자</label>
        </div>
        <div class="login-radio-group">
          <input type="radio" name="gender" id="none" class="login-radio-input" value="none" checked />
          <label for="none" class="login-radio-label">선택안함</label>
        </div>
      </div>
    </div>
  </body>
</html>
